.formContainer {
    box-sizing: border-box;
    max-width: 400px;
    margin: auto;
    height: calc(-2.2rem + 100vh);
    width: 100%;
    display: grid;
    place-items: center;
}

.form {
    width: 100%;
}